// 字体大小
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs26: 26px;
$fs28: 28px;
$fs30: 30px;
$fs32: 32px;
$fs34: 34px;
$fs36: 36px;
$fs38: 38px;
$fs40: 40px;
$fs42: 42px;
$fs44: 44px;
$fs46: 46px;
$fs48: 48px;
$fs50: 50px;
$fs52: 52px;
$fs54: 54px;
$fs56: 56px;
$fs58: 58px;
$fs60: 60px;

// 颜色
$primary: #007457;
$white:#ffffff;